*.o
*~
*.so
*.a
*#
*.lo


Makefile
Makefile.in
R/Rplinkseq/autom4te.cache/
R/Rplinkseq/config.h
R/Rplinkseq/config.h.in
R/Rplinkseq/config.log
R/Rplinkseq/config.status
R/Rplinkseq/configure
R/Rplinkseq/src/Makevars
R/Rplinkseq_0.07.tar.gz
aclocal.m4
autom4te.cache/
client/.deps/
client/Makefile
client/Makefile.in
client/aclocal.m4
client/autom4te.cache/
client/config.guess
client/config.h
client/config.h.in
client/config.log
client/config.status
client/config.sub
client/configure
client/depcomp
client/install-sh
client/libtool
client/ltmain.sh
client/m4/libtool.m4
client/m4/ltoptions.m4
client/m4/ltsugar.m4
client/m4/ltversion.m4
client/m4/lt~obsolete.m4
client/missing
client/stamp-h1
config.guess
config.log
config.status
config.sub
configure
install-sh
lib/.deps/
lib/Makefile
lib/Makefile.in
lib/aclocal.m4
lib/autom4te.cache/
lib/config.guess
lib/config.h
lib/config.h.in
lib/config.log
lib/config.status
lib/config.sub
lib/configure
lib/depcomp
lib/install-sh
lib/libtool
lib/ltmain.sh
lib/m4/libtool.m4
lib/m4/ltoptions.m4
lib/m4/ltsugar.m4
lib/m4/ltversion.m4
lib/m4/lt~obsolete.m4
lib/missing
lib/stamp-h1
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
plinkseq-0.07.tar.gz
